* {
    margin: 0;
    padding: 0;
}
/* This gives the banner correct sizing and placement */
#Banner { 
   height: 160px;
   object-fit: cover;
   background-image: url(../images/Screenshot\ 2023-06-10\ 132239.png);
   position: relative;
}
/* moves h3 in banner to better position*/
#Banner div h3 {
margin-right: 40px;
height: 30px;

}

/* Adjusts profile picture to the corner of the website */
.profilepicture {
    margin-top: 50px;
    margin-left: 40px;
    max-width: 140px; 
    height: 140px;
    border-radius: 50%;
    background-image: url(../images/JocelynPic.jpg);
    background-size: contain;
}
 .section {
        display: flex;
        flex-direction: row;
        width: auto;
        height: auto;
        margin: 30px;
        padding: 2% 5%;
        justify-content: center;
       }

.section p {
    display: flex;
    flex-direction: column;
    float: right;
    width: 50%;
    margin-right: 20px;
}

.container {
    /* float: right;
    width: 50%;
    margin-right: 30px; */
    /* display: flex; */
    background-color: aqua;
    width: 100px;
    

}
/* #aboutme {
    float: right;
    width: 50%;
    margin-right: 30px;
    margin-top: 20px;
}
#work {  
    float: right;
    width: auto;
    height: auto;
    margin: 60p
}

#contact {
    float: right;
    width: auto;
    height: auto;
    margin-top: 70px;
    margin-left: 30px;
    position: static;
} */
/* #contactlist ul li {
    position: absolute;
    float: right;
    width: 50px;
    margin-right: 30px;
} */

/* Here we can remove bullet points and make items appear side by side on the right of the website */
nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center; 
}
/* this allows to nav links to be white  */
a {
    color: whitesmoke;
}
/* here the words title header is being highlighted and positioned */
h1 {
    color: #9fbfee;
    background-color: rgb(1 4 8 / 45%);
    padding: 5px 19px 5px 5px;
    margin: 16px 16px 20px 0px;
}


/* this code controls the header position and color styles */
header {
    display:flex;
    justify-content: space-between;
    background-color: rgb(1 4 8 / 51%);
    height: 80px;
}
/* moves the nav bar to the right */
nav {
    width: 370px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
/* this allows us to move the text over the banner */
#coolheader h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    display: flex;
    color: #9fbfee;
    position: absolute;
    bottom: 30px;
    right: 60px;
    background-color:  rgb(1 4 8 / 51%);
    padding: 10px;
}
/* manipulates ul in contact me section */
section ul {
    width: 60%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center; 
}
/* allows footer to be at the center end of the page */
footer {
    display: flex;
    justify-content: space-around;
}